doctype html
html(lang='en-US')
  head
    title Lloyd Ramey
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Lloyd Ramey')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:100,700')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700,900')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/assets/stylesheets/lloydramey-site.min.css')

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
  body
    .header
      h1 Lloyd Ramey
    .content
      .who-am-i
        h4 Who Am I?
        p I am a recent graduate from Virginia Tech. I suppose that 
          | makes me a Hokie (Go Hokies!), which is kind of cool. 
          | My time at VT was awesome, but I'm glad to have moved on.
          | I eventually hope to go to graduate school, but current 
          | have no idea what to specialize in yet.

        p I am a software craftsman. I love to write  code, even more
          | so I love it when I can make the code that I write 
          | beautiful. I'm currently employed at a small company named
          | BTI360 spending my days coding away. It's great - I love 
          | it there. When I'm not at work I enjoy playing around 
          | with toy projects, or cool new pieces of technology 
          | (I'm looking at you myo).

        p I am also a swimmer / biker / runner / climber / general outdoor 
          | liking person. I have been swimming for more than 15 years
          | (though not completely consistently throughout those years),
          | but only recently started the other activities. If I have the
          | time, I'll go to a local park with my dog for a short walk - 
          | neither of us have the endurance to go very far, esp. in the
          | summer humidity.
      .what-i-do
        h4 What do I do?
        p As I mentioned before, I code for fun and profit. Currently, my 
          | projects mostly consist of web development, but that changes
          | nearly each month - it really just depends on what catches my
          | interest. Every now and then I get on a spurt of game
          | development, I've been toying with libGDX for a while - 
          | mostly because it's such a cool idea. If you haven't heard of 
          | it, their goal is to develop a game development framework which 
          | works on quite a number of platforms.
        p Most of my education involved embedded system design, and while at
          | VT I was involved with the AMP Lab doing an embedded project.
          | I also attempted to design a solder certification board, though
          | that did not end up working in the end. If I find the free time,
          | I would like to continue working on it, but currently have small
          | hope in that. Embedded is something that I really enjoy, though
          | currently it's something I'm only interested in as a hobby.
        p If anyone is actually reading all of this and would like to see
          | some of what I have done, my 
          | #[a(href='https://github.com/lnr0626') github] has some of my
          | work. Not all of it is high quality, and not all of it is finished. 
          | The code for this site is actually there as well (licensed under 
          | #[a(href='http://www.apache.org/licenses/LICENSE-2.0.html') Apache v2.0]). 
          | As a side note, I also have a #[a(href='http://www.anothermakersjourney.com') blog] 
          | that I update every now and then. I think one of my next projects will be to 
          | write a new theme for that. Something simple.

    .navigation
      h4 Helpful(?) Links:
      p: a(href='http://www.anothermakersjourney.com') Another Makers Journey
      p: a(href='https://github.com/lnr0626') My Github
      p: a(href='https://github.com/lnr0626/lloydramey-site') Github Repo for this site
      p: a(href='/calc_review.pdf') A Short Review of Basic Calculus