doctype html
html(lang='en-US')
  head
    block title
      title Lloyd Ramey
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Lloyd Ramey')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='/assets/stylesheets/lloydramey-site.css')

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
  body
    .container
      .titlebar
        .titlebar-brand Lloyd Ramey
        .titlebar-location.dropdown
          a.titlebar-active.dropdown-toggle(type='button', id='dropdownNav', data-toggle='dropdown') /
          ul.dropdown-menu(role='menu', aria-labelledby='dropdownNav')
            li: a(role='menuitem', tabindex='-1', href='#') /
            li: a(role='menuitem', tabindex='-1', href='#') |-Sub1
            li: a(role='menuitem', tabindex='-1', href='#') |--SubSub1
            li: a(role='menuitem', tabindex='-1', href='#') +-About
        hr
      .pull-right.site-map
        a /
        a |-Home
        a |-Sub1
        a |--SubSub1
        a +-About
      block content
        h1 Welcome!
        p This is currently just a simple site, the purpose is really just to give me a place to be able to explore some techniques that I have interest in.
      .footer.container
        .text-muted.text-center
          hr
          block footer-text
            p Designed and built by Lloyd Ramey using bootstrap.
            p Code licensed under Apache v2.0, available on Github.
    script(src='/assets/scripts/lloydramey-site.min.js')