$body-color = #777777
$link-color = #3b8bba

html
  font-size 16px;
  font-weight 400

html,
body
  color $body-color
  font-family 'Lato', sans-serif

body
  width 100%

@media(min-width: 48em)
  body
    width 42em
    margin-left auto
    margin-right auto
 
h1,
h2,
h3,
h4,
h5,
h6
  font-family 'Raleway', sans-serif
  color darken($body-color, 30%)
  font-weight 700
  
a
  text-decoration none
  color $link-color

a:hover,
a:focus
  color darken($link-color, 20%)

a:visited
  color darken($link-color, 40%)

.header
  margin-top 1.5em
  height 6em
  text-align center
  border-bottom 1px solid rgb(238, 238, 238)
  
  h1
    font-weight 100
    font-size 300%
    margin 0
    
.content
  text-align center
  
  p
    margin-left 2em
    margin-right 2em
    text-align justify
    line-height 2